*.swp
vim/bundle/
.DS_Store

# emacs
*/url/cache
/emacs.d/elpa
/emacs.d/games
/emacs.d/bookmarks
/emacs.d/ido.last
/emacs.d/recentf
/emacs.d/projectile.cache
/emacs.d/projectile-bookmarks.eld
/emacs.d/smex-items
